<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="/register.css" />
    <link rel="icon" href="img/favicon.png" />
</head>
<body>
    <div class="container">
        <h1>Cadastro de Usuário</h1>
		
		<form th:action="@{/save}" th:object="${user}" method="post">
		      <!-- Campo para Nome Completo -->
		      <label for="nome">Nome Completo:</label>
		      <input type="text" name="nome" id="nome">
			  
		      <!-- Campo para CPF -->
		      <label for="cpf">CPF:</label>
		      <input type="text" id="cpf" name="cpf" th:field="*{cpf}" required placeholder="000.000.000-00" maxlength="11">

		      <!-- Campo para Data de Nascimento -->
		      <label for="dataNascimento">Data de Nascimento (dd/mm/yyyy):</label>
		      <input type="date" name="dataNascimento" id="dataNascimento" th:field="*{dataNascimento}" required placeholder="00/00/0000" maxlength="8">

		      <!-- Campo para E-mail -->
		      <label for="email">E-mail:</label>
		      <input type="email" name="email" id="email" th:field="*{email}" required>

		      <!-- Campo para Senha -->
		      <label for="senha">Senha:</label>
		      <input type="password" name="senha" id="senha" th:field="*{senha}" required>
			  
			  <!-- Campo para Confirmar Senha -->
			  	      <label for="confirmarSenha">Confirmar Senha:</label>
			  	      <input type="password" name="confirmarSenha" required>

		     

		      <!-- Botão para Submeter o Formulário -->
		      <button type="submit">Cadastrar</button>
		  </form>
    </div>
</body>
</html>